@import url(../css/reset.css);

#header {
    height:70px;
    background-color: beige;
    position: sticky;
    width:100%;
    top:0px;
}

#s1 ul{
    background-color: yellow;

}

#s1 li:nth-child(1){
    background-color: red;
  
}
#s1 li:nth-child(2){
    background-color: green;

}
#s1 li:nth-child(3){
    background-color: blue;
}